@using Entity.DTOs.Abouts
@model List<AboutDto>
@{
    ViewData["Title"] = "Hakkımızda";
}
<div class="about-banner-img">
    <div class="ovrllay">
        <!-- Header_Area -->
        @await Component.InvokeAsync("Header")
        <!-- End Header_Area -->
        <!-- #banner start -->
        <section id="banner" class="pb_0">
            <div class="container ">
                <div class="row py-70 mb_160">
                    <!-- #banner-text start -->
                    <div id="banner-text" class="col-md-12 text-c  ">
                        <div class="left-borders">
                            <h5 class="wow fadeInUp main-about_h" data-wow-delay="0.2s">Hakkımızda</h5>
                            <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s"><span class="c_yellow"> Hakkımızda </span>  | ORR <br> AND ITS ATTORNEYS</p>
                        </div>
                    </div>
                    <!-- /#banner-text End -->
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /#banner end -->
<!-- #service Us Area start -->
<div id="about">
    <div class="container">
        <div class="row top_service">
            <!--#about-text start -->
            <div class="who_we_area col-md-4 col-sm-6 wow fadeInUp">
                <div class="service_banner green-after">
                    <div class=" wow fadeInUp">
                        <img src="~/star-law-master/assets/images/about-service1.png">
                    </div>
                    <h2>Nitelikli <br>Hukuk Avukatları</h2>
                    <p>  Ceza savunma avukatlarımız sizi koruyacaktır.   </p>
                </div>
            </div>
            <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
                <div class="service_banner pink-after">
                    <div class=" wow fadeInUp">
                        <img src="~/star-law-master/assets/images/about-service2.png">
                    </div>
                    <h2>
                        10 yıl<br>
                        Üzeri Deneyim
                    </h2>
                    <p>  Kapsamlı geçmişe sahip, en iyi vasıflara sahip avukatlarımız var.   </p>
                </div>
            </div>
            <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
                <div class="service_banner purple-after">
                    <div class=" wow fadeInUp">
                        <img src="~/star-law-master/assets/images/about-service3.png">
                    </div>
                    <h2>
                        Ödüllerimiz <br>
                        ve Sertifikalarımız
                    </h2>
                    <p>  Kapsamlı geçmişe sahip, en iyi vasıflara sahip avukatlarımız var.   </p>
                </div>
            </div>
            <!--#End about-text  -->
        </div>
    </div>
</div>
<!-- End service Us Area -->
<!-- #Experienced Us Area start -->
<div id="about" class="bg_Consultation pt-70">
    <div class="container">
        <div class="row  ">
            <!--#about-text start -->
            <div class="who_we_area title text-left col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <h1 class="c_brown"> Yılların <br>Tecrübeli <br>Duruşma Avukatları </h1>
            </div>
            <div class="who_we_area col-md-8  col-sm-6 col-4pad wow fadeInUp">
                <p class="about-bottom-s c_f  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Türkiye’de en üst düzeyde hukuki danışmanlık hizmetleri sunmak için çalışıyoruz. Melda Özkara Hukuk Bürosu, hizmet verdiği alanlarda müvekkillerimizin değişen ihtiyaçlarına uygun olarak geliştirmeye ve yenilikçi, kaliteli hizmetler sunmaya kararlıdır.</p>
                <div class="top-contact wow fadeInRight text-right" style="visibility: visible; animation-name: fadeInRight;">
                    <a type="submit" id="#services" href="#services" class="btn btn-default bg_tree wow fadeInUp  js-scroll-trigger " data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"> DEVAMINI OKU</a>
                </div>
            </div>
        </div>
        <div class="row  mt-50 bottom_service">
            <!--#about-text start -->
            <div class="who_we_area title text-left p0 Lawyers_one col-md-4 col-sm-6  wow fadeInUp">
                <div class="ovrllay">
                    <div class="inner_text">
                        <h1><a asp-controller="ContactMessage" asp-action="Add"> Ücretsiz Danışmanlık  </a> </h1>
                    </div>
                </div>
            </div>
            <div class="who_we_area title text-left p0 Lawyers_to col-md-4 col-sm-6 wow fadeInUp">
                <div class="ovrllay">
                    <div class="inner_text">
                        <h1><a asp-controller="ContactMessage" asp-action="Add">  Yasal Bilgiledirme </a>   </h1>
                    </div>
                </div>
            </div>
            <div class="who_we_area title text-left p0 Lawyers_tree col-md-4 col-sm-6 wow fadeInUp">
                <div class="ovrllay">
                    <div class="inner_text">
                        <h1><a asp-controller="ContactMessage" asp-action="Add">  Kanıtlanmış Sonuçlar </a>  </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #Experienced Us Area End -->
<!-- #About Us Area start -->
<div id="about" class="bg_gradient_team py-70">
    <div class="container">
        @foreach(var about in Model)
        {
            <div class="row about_row  py-40">
                <!--#about-text start -->
                <div class="who_we_area title text-left col-md-8 col-sm-6 col-4pad wow fadeInUp">
                    <h1 class="">@about.Title</h1>
                    <p class="about-bottom-s  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">@about.Content</p>
                </div>
                <div class="who_we_area col-md-4 text-right col-sm-6 col-4pad wow fadeInUp">
                    <img src="~/star-law-master/assets/images/about-main.png" class="border_img">
                </div>
            </div>
        }
    </div>
</div>
<!-- End About Us Area -->
<!--start team Area -->
<section class="">
    <div class="container">
        <div class="row text-center">
            <div class="title wow fadeInUp">
                <h1>Our Attorneys</h1>
                <div class="hed_img">
                    <img src="~/star-law-master/assets/images/headding-img.png">
                </div>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem <br> Ipsum has been the industry's standard.  </p>
            </div>
        </div>
        <div class="row about_row">
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="blog box-radius">
                    <div class="blog-img">
                        <img src="~/star-law-master/assets/images/team-2.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3>DEVIS BILL </h3>
                        <p>Business Lawyer</p>
                        <div class="team-footer-social">
                            <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="blog   box-radius">
                    <div class="blog-img">
                        <img src="~/star-law-master/assets/images/team-1.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3>JONATHAN LEE  </h3>
                        <p>Criminal Lawyer</p>
                        <div class="team-footer-social">
                            <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="blog   box-radius">
                    <div class="blog-img">
                        <img src="~/star-law-master/assets/images/team-3.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3>MARK LEE</h3>
                        <p>Business Lawyer</p>
                        <div class="team-footer-social">
                            <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row about_row ">
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="blog  box-radius">
                    <div class="blog-img">
                        <img src="~/star-law-master/assets/images/team-4.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3>LOHIS TIM  </h3>
                        <p>Business Lawyer</p>
                        <div class="team-footer-social">
                            <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="blog   box-radius">
                    <div class="blog-img">
                        <img src="~/star-law-master/assets/images/team-6.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3>SHENA LOI  </h3>
                        <p>Criminal Lawyer</p>
                        <div class="team-footer-social">
                            <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 col wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="blog  box-radius">
                    <div class="blog-img">
                        <img src="~/star-law-master/assets/images/team-5.png" alt="">
                    </div>
                    <div class="team-content">
                        <h3>JAMS MILL </h3>
                        <p>Business Lawyer</p>
                        <div class="team-footer-social">
                            <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                            <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End team Area -->
<!-- #The History Us Area Start -->
<section class="">
    <div class="container">
        <div class="row text-center  ">
            <div class="title wow fadeInUp">
                <h1>Tarihçe</h1>
                <div class="hed_img">
                    <img src="~/star-law-master/assets/images/headding-img.png">
                </div>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem <br> Ipsum has been the industry's standard.  </p>
            </div>
        </div>
        <div class="row mt-100">
            <ul class="timeline">
                <li class="wow fadeInUp">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <img src="~/star-law-master/assets/images/timeline3.png">

                        </div>
                        <div class="timeline-footer">
                            <h1>
                                Property Crime
                            </h1>
                            <p class="c_f">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted wow fadeInUp">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle invert" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">

                            <p class="img_left">   2003 usa  </p>
                        </div>

                    </div>
                </li>
                <li class="wow fadeInUp">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">

                            <p class="img_top">   2007 usa  </p>
                        </div>

                    </div>
                </li>
                <li class="timeline-inverted  wow fadeInUp">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle invert" id=""></i></a>
                    </div>
                    <div class="timeline-panel">

                        <div class="timeline-footer">
                            <h1> building construction case  </h1>
                            <p class="c_f">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                        </div>
                    </div>
                </li>

                <li class="wow fadeInUp mt_560">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">
                            <img src="~/star-law-master/assets/images/timeline4.png">

                        </div>
                        <div class="timeline-footer">
                            <h1> building construction case  </h1>
                            <p class="c_f">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted wow fadeInUp">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle invert" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">

                            <p class="img_left">   2014 usa  </p>
                        </div>

                    </div>
                </li>

                <li class="wow fadeInUp">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle" id=""></i></a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-body">

                            <p class="img_top">   2016 usa  </p>
                        </div>

                    </div>
                </li>
                <li class="timeline-inverted  wow fadeInUp">
                    <div class="timeline-badge">
                        <a><i class="fa fa-circle invert" id=""></i></a>
                    </div>
                    <div class="timeline-panel">

                        <div class="timeline-footer">
                            <h1>road accident usa  </h1>
                            <p class="c_f">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                        </div>
                    </div>
                </li>
                <li class="clearfix no-float"></li>
            </ul>
        </div>
    </div>
</section>
<!-- #History Us Area End -->
<!--#start Our footer Area -->
@await Component.InvokeAsync(typeof(WEB.ViewComponents.FooterViewComponent))
<!--#End Our footer Area -->