@model UserAddDto

<div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row justify-content-center align-items-center min-vh-100">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Admin Panel Üye Ol</h4>
                                    <form class="forms-sample" asp-controller="User" asp-action="Add" method="post">
                                        <div asp-validation-summary="ModelOnly"></div>
                                        <div class="form-group">
                                            <label asp-for="FirstName" for="exampleInputUsername1">Kullanıcı Adı</label>
                                            <input asp-for="FirstName" type="text" class="form-control" id="exampleInputUsername1" placeholder="FirstName" />
                                            <span asp-validation-for="FirstName" class="text-danger small"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="LastName" for="exampleInputUsername1">Kullanıcı Soyadı</label>
                                            <input asp-for="LastName" type="text" class="form-control" id="exampleInputUsername1" placeholder="LastName" />
                                            <span asp-validation-for="LastName" class="text-danger small"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Email" for="exampleInputUsername1">Email</label>
                                            <input asp-for="Email" type="email" class="form-control" id="exampleInputUsername1" placeholder="Email" />
                                            <span asp-validation-for="Email" class="text-danger small"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber" for="exampleInputUsername1">Telefon Numarası</label>
                                            <input asp-for="PhoneNumber" type="text" class="form-control" id="exampleInputUsername1" placeholder="PhoneNumber" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger small"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RoleId" id="defaultFormControlInput" class="form-label">Kullanıcının Rolü</label>
                                            <select asp-for="RoleId" class="form-control mb-3" asp-items="@(new SelectList(Model.Roles,"Id","Name"))"></select>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Password"  for="exampleInputPassword1">Şifre</label>
                                            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                                            <span asp-validation-for="Password" class="text-danger small"></span>
                                        </div>
                                      
                                        <button type="submit" class="btn btn-primary mr-2"> Kaydet </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   

