@model ContactMessageAddDto

@{
    ViewData["Title"] = "İletişim";
}

<div class="service-banner-img  ">
    <div class="ovrllay">
        <!-- Header_Area -->
        @await Component.InvokeAsync("Header")
        <!-- End Header_Area -->
        <!-- #banner start -->
        <section id="banner" class="py-70">
            <div class="container ">
                <div class="row py-70 ">
                    <!-- #banner-text start -->
                    <div id="banner-text" class="col-md-12 text-c  ">
                        <div class="left-borders">

                            <h5 class="wow fadeInUp main-about_h" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">İLETİŞİM</h5>
                            <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                                <span class="c_yellow">
                                    CONTACT AREAS
                                </span>  | ORR <br>AND ITS ATTORNEYS
                            </p>
                        </div>

                    </div>
                    <!-- /#banner-text End -->
                </div>

            </div>
        </section>
    </div>
</div>
<!-- /#banner end -->
<!-- #contact  Area start -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading left">
                    <h4>Size nasıl yardımcı olabiliriz?</h4>
                </div>
                <div class="contact-form-box margin-30px-top">
                    <div class="no-margin-lr" id="success-contact-form" style="display: none;"></div>
                    <form asp-controller="ContactMessage" asp-action="Add" method="POST" class="contact-form" >
                        <div class="row">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="col-md-12">
                                <input asp-for="FullName" type="text" class="medium-input"  placeholder="Ad Soyad *" >
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <input asp-for="Email" type="email" class="medium-input" placeholder="E-mail *">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <input asp-for="PhoneNumber"  type="text" class="medium-input" placeholder="Telefon Numarası *" >
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <textarea asp-for="Message" class="medium-textarea" rows="12"placeholder="Mesajınız *" ></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 sm-margin-30px-bottom">
                                <div class="top-contact wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                                   
                                    <button type="submit" class="btn btn-primary wow fadeInUp radius-50" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Gönder</button>
                                </div>

                            </div>
                        </div>
                        <br />
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
                        }
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-info-box padding-30px-left sm-no-padding">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-info-section no-padding-top margin-10px-top">
                                <h4>Bize Ulaşın</h4>
                                <p>Bilgi almak için iletişim formumuzu doldurarak bize ulaşabilirsiniz. Taleplerinize en kısa sürede dönüş yapacağız.</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact-info-section">
                                <h4>İletişim Bilgilerimiz</h4>
                                <ul class="list-style-1 no-margin-bottom">
                                    <li>
                                        <p>
                                            <i class="fa fa-phone text-center"></i> <strong>Adres:</strong> Fevzi Çakmak-2 Sokak No:28/4
                                            Kızılay, Çankaya, Ankara
                                        </p>
                                    </li>
                                    <li>
                                        <p><i class="fa fa-globe text-center"></i> <strong>Telefon:</strong> (+90) 506 116 02 25</p>
                                    </li>
                                    <li>
                                        <p><i class="fa fa-envelope text-center"></i> <strong>Email:</strong> <a href="javascript:void(0)" class="email_color_site">info@meldaozkara.av.tr</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact-info-section border-none no-padding-bottom no-margin-bottom">
                                <h4>Çalışma Saatleri</h4>
                                <ul class="list-style-2">
                                    <li>Pazartesi - Cuma - 9am to 5pm</li>
                                    <li>Cumartesi - 9am to 2pm</li>
                                    <li>Pazar - Kapalı</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py_map_40">
    <div class="container-fluid p0">
        <div id="contatti" class=" maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!0.5s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!0.5sit!2sit!4v1524815927977" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>
@await Component.InvokeAsync(typeof(WEB.ViewComponents.FooterViewComponent))
