﻿@{
    Layout = null;
}
@{
    ViewData["Title"] = "Giriş Yap";
}
@using Entity.DTOs.Users
@model UserLoginDto

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] Plus Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/plus-admin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/plus-admin/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/plus-admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/plus-admin/assets/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="~/plus-admin/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/plus-admin/assets/css/demo_2/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/plus-admin/assets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row justify-content-center align-items-center min-vh-100">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Admin Panel Girişi</h4>
                                    <form class="forms-sample" asp-controller="Auth" asp-action="Login" method="post">
                                        <div asp-validation-summary="ModelOnly"></div>
                                        <div class="form-group">
                                            <label asp-for="Email" for="exampleInputUsername1">Email</label>
                                            <input asp-for="Email" type="email" class="form-control" id="exampleInputUsername1" placeholder="Email" />
                                            <span asp-validation-for="Email" class="text-danger small"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password"  for="exampleInputPassword1">Şifre</label>
                                            <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                                            <span asp-validation-for="Password" class="text-danger small"></span>
                                        </div>
                                       @*  <div class="form-check form-check-flat form-check-primary">
                                            <label asp-for="RememberMe" class="form-check-label">
                                                <input asp-for ="RememberMe" type="checkbox" class="form-check-input" /> Beni Hatırla
                                            </label>
                                        </div> *@
                                        <button type="submit" class="btn btn-primary mr-2"> Giriş yap </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/plus-admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/plus-admin/assets/vendors/select2/select2.min.js"></script>
    <script src="~/plus-admin/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="~/plus-admin/assets/js/off-canvas.js"></script>
    <script src="~/plus-admin/assets/js/hoverable-collapse.js"></script>
    <script src="~/plus-admin/assets/js/misc.js"></script>
    <script src="~/plus-admin/assets/js/settings.js"></script>
    <script src="~/plus-admin/assets/js/todolist.js"></script>
    <script src="~/plus-admin/assets/js/file-upload.js"></script>
    <script src="~/plus-admin/assets/js/typeahead.js"></script>
    <script src="~/plus-admin/assets/js/select2.js"></script>
</body>
</html>




