@using Entity.DTOs.Banners
@model List<BannerDto>
@{
    ViewData["Title"] = "Ana sayfa";
}

<div class="bg-banner-img clip-ellipse">
    <div class="ovrllay">
        <!-- Header_Area -->
        @await Component.InvokeAsync("Header")
        <!-- End Header_Area -->
        <!-- #banner start -->
        <section id="banner" class="pb_0">
            <div class="container ">
                <div class="row">
                    <!-- #banner-text start -->
                    @foreach(var banner in Model)
                    {
                        <div id="banner-text" class="col-md-12 text-c  ">
                            <div class="left-borders">
                                <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s" >@banner.Title </p>
                                <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s">@banner.Subtitle  </h5>
                            </div>
                            <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">@banner.Description</p>
                        </div>
                    }
                    <!-- /#banner-text End -->
                </div>
                <div class="row mt-100 p-0">
                    <!--#about-text start -->
                    <div class="who_we_area col-md-4 col-sm-6 wow fadeInUp">
                        <div class="service-1 green-after">
                            <div class="servise-top wow fadeInUp">
                                <img src="~/star-law-master/assets/images/service_c.png">
                            </div>
                            <h2 class="unify"> Boşanma & Nafaka Davaları </h2>
                            <div class="button-div">
                                <a asp-controller="ContactMessage" asp-action="Add" class="button-s"> Daha fazlası </a>
                            </div>
                        </div>
                    </div>
                    <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
                        <div class="service-1 pink-after">
                            <div class="servise-top wow fadeInUp">
                                <img src="~/star-law-master/assets/images/service_d.png">
                            </div>
                            <h2 class="unify">İDARİ & ASKERİ  <br /> DAVALAR</h2>
                            <div class="button-div">
                                <a asp-controller="ContactMessage" asp-action="Add" class="button-s"> Daha fazlası </a>
                            </div>
                        </div>
                    </div>
                    <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
                        <div class="service-1 purple-after">
                            <div class="servise-top wow fadeInUp">
                                <img src="~/star-law-master/assets/images/service_e.png">
                            </div>
                            <h2 class="unify"> İŞ HUKUKU <br /> DAVALARI </h2>
                            <div class="button-div">
                                <a asp-controller="ContactMessage" asp-action="Add" class="button-s"> Daha fazlası </a>
                            </div>
                        </div>
                    </div>
                    <!--#End about-text  -->
                </div>
            </div>
        </section>
    </div>
</div>
<!-- /#banner end -->
<!-- #About Us Area start -->
<div id="about" class="bg_gray py-70">
    <div class="container">
        <div class="row ">
            <!--#about-text start -->
            <div class="who_we_area title text-left col-md-6 col-sm-6 col-4pad wow fadeInUp">
                <h1 class="PT-90">   HAKKIMIZDA  </h1>
                <div class="hed_img">
                    <img src="~/star-law-master/assets/images/headding-img.png">
                </div>
                <p class="about-bottom-s  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Avukat Melda ÖZKARA , Hacettepe Üniversitesi Hukuk Fakültesi mezunu olup Ankara Barosunda stajını başarıyla tamamlamıştır. Melda ÖZKARA Hukuk ve Danışmanlık Bürosu’nun kurucu avukatlarındandır. Ankara Barosu’na kayıtlı olarak dinamik ve tecrübeli ekibiyle İzmir, İstanbul, Balıkesir, Van, Eskişehir gibi Türkiye'nin değişik illerinde birçok dosyada avukatlık mesleğini icra etmektedir.</p>
                <div class="top-contact wow fadeInRight text-left" style="visibility: visible; animation-name: fadeInRight;">
                    <a type="submit" id="#services" asp-controller="About" asp-action="Index" class="btn btn-default wow fadeInUp  js-scroll-trigger button_about_shadow" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">DEVAMINI OKU </a>
                </div>
            </div>
            <div class="who_we_area col-md-6 col-sm-6 col-4pad wow fadeInUp">
                <img src="~/star-law-master/assets/images/about-right.png">
            </div>
        </div>
    </div>
</div>
<!-- End About Us Area -->
<!-- #OUR CAPABILTIES Area start -->
<div id="about" class=" py-70 bg_blue_img">
    <div class="container">
        <div class="row  ">
            <!--#CAPABILTIES-text start -->
            <div class="title text-left   who_we_area col-md-7 col-sm-6 col-4pad wow fadeInUp">
                <h1 class="c_f pt-0">OUR CAPABILTIES  </h1>
                <p class="about-bottom-s c_f wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"> Lorem Ipsum is simply dummy text of the printing and type <br>setting industry.</p>
                <ul class="right_icone">
                    <div class="my_20">
                        <img src="~/star-law-master/assets/images/right.png">
                    </div>
                    <li> Lorem Ipsum is simply dummy text of the printing.   </li>
                    <div class="my_20">
                        <img src="~/star-law-master/assets/images/right.png">
                    </div>
                    <li> Lorem Ipsum is simply dummy text of the printing.  </li>
                    <div class="my_20">
                        <img src="~/star-law-master/assets/images/right.png">
                    </div>
                    <li> Lorem Ipsum is simply  of the printing.   </li>
                    <div class="my_20">
                        <img src="~/star-law-master/assets/images/right.png">
                    </div>
                    <li> Lorem Ipsum of the printing.   </li>
                    <div class="my_20">
                        <img src="~/star-law-master/assets/images/right.png">
                    </div>
                    <li>  Lorem Ipsum is simply dummy text of the printing.  </li>
                    <div class="my_20">
                        <img src="~/star-law-master/assets/images/right.png">
                    </div>
                    <li> Lorem Ipsum is simply dummy text of the printing.   </li>
                </ul>
            </div>
            <div class="who_we_area col-md-5 col-sm-6 col-4pad wow fadeInUp">
            </div>
        </div>
    </div>
</div>
<!-- #OUR CAPABILTIES Area End -->
<!-- #service Area start -->
<div id="about" class=" py-70">
    <div class="container">
        <div class="row text-center mb-60 ">
            <div class="title wow fadeInUp">
                <h1>Çalışma Alanları</h1>
                <div class="hed_img">
                    <img src="~/star-law-master/assets/images/headding-img.png">
                </div>
                <p> Avukat Melda ÖZKARA Ankara Barosuna bağlı bir avukat olarak ağırlıklı Ankara ilinde çalışmakta olup İstanbul, İzmir, Balıkesir, Eskişehir, Van, Tunceli, Manisa gibi Türkiye'nin değişik birçok ilinde başarılı bir şekilde mesleğini icra etmiş ve halen etmektedir.  </p>
            </div>
        </div>
        <div class="row about_row  py-40">
            <!--#about-text start -->
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="~/star-law-master/assets/images/service1.png">
                    </div>
                    <h2 class="Practice"> Ceza Hukuku </h2>
                    <p class="bottom-s">Ceza avukatı, her toplum yazılı ve yazısız kurallarıyla ihlal <br /> edenlere karşı insanları korumaktadır. </p>
                    <div class="button-div">
                       @*  <a href="" class="button-buttom"> read more   </a> *@
                    </div>
                </div>
            </div>
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="~/star-law-master/assets/images/service2.png">
                    </div>
                    <h2 class="Practice"> Miras Hukuku </h2>
                    <p class="bottom-s">Mirasbırakanın ölümü ile sona ermeyen hak ve borçlara ilişkin hukuki durumları düzenleyen hukuk dalıdır.  </p>
                    <div class="button-div">
                     @*    <a href="" class="button-buttom"> read more   </a> *@
                    </div>
                </div>
            </div>
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="~/star-law-master/assets/images/service3.png">
                    </div>
                    <h2 class="Practice"> Medeni Hukuk </h2>
                    <p class="bottom-s">İçerisinde Kişiler Hukuku, Aile Hukuku, Miras Hukuku, Borçlar Hukuku ve Eşya Hukukunu barındırır. </p>
                    <div class="button-div">
                        @* <a href="" class="button-buttom"> read more   </a> *@
                    </div>
                </div>
            </div>
            <!--#End about-text  -->
        </div>
        <div class="row mt-50  py-40">
            <!--#about-text start -->
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="~/star-law-master/assets/images/service4.png">
                    </div>
                    <h2 class="Practice"> İş Hukuku </h2>
                    <p class="bottom-s"> İşçi ile işveren arasındaki ilişkinin <br> düzenlendiği bir hukuk dalıdır.</p>
                    <div class="button-div">
                        @* <a href="" class="button-buttom"> read more   </a> *@
                    </div>
                </div>
            </div>
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="~/star-law-master/assets/images/service5.png">
                    </div>
                    <h2 class="Practice">Gayrimenkul Hukuku  </h2>
                    <p class="bottom-s">Kişilerin anayasal hakları olan mülkiyet edinme yolunda yapacakları tasarrufları koruyan hukuk dalıdır. </p>
                    <div class="button-div">
                      @*   <a href="" class="button-buttom"> read more   </a> *@
                    </div>
                </div>
            </div>
            <div class="who_we_area col-md-4 col-sm-6 col-4pad wow fadeInUp">
                <div class="service-s">
                    <div class="servise-top wow fadeInUp">
                        <img src="~/star-law-master/assets/images/service6.png">
                    </div>
                    <h2 class="Practice"> Yabancılar Hukuku </h2>
                    <p class="bottom-s">Türkiye’de bulunan yabancı ülke vatandaşları için, yabancı olmaları nedeniyle konulmuş olan kuralların tümünü ifade eder. </p>
                    <div class="button-div">
                        @* <a href="" class="button-buttom"> read more   </a> *@
                    </div>
                </div>
            </div>
            <!--#End about-text  -->
        </div>
    </div>
</div>
<!-- End About Us Area -->
<!--start free consultation Area -->
<div class="bg_free_img">
    <div class="ovrllay-bottom">
        <div class="container">
            <div class="row text-center py-90 ">
                <div class="title wow fadeInUp">
                    <h1 class="c_yellow">10 Yıl Üzeri Deneyim</h1>
                    <p class="c_f"> Avukat Melda ÖZKARA, ceza davaları, boşanma ve nafaka davaları, idari davalar, <br /> iş davaları, askeri davalar, trafik kazasına bağlı tazminat davaları <br /> gibi alanlarda avukatlık mesleğini icra etmektedir. </p>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!--End free consultation Area -->
<!--start Why Choose Us Area -->
<section class="bg_gradient_team">
    <div class="container">
        <div class="row text-center  ">
            <div class="title wow fadeInUp">
                <h1>Neden Bizi Tercih Etmelisiniz??</h1>
                <div class="hed_img">
                    <img src="~/star-law-master/assets/images/headding-img.png">
                </div>
                <p> Müvekkillerimizin tercih etmelerinin temel nedeni, sadece profesyonelliğimiz, uzmanlığımız, kalitemiz ve tecrübemiz değil; aynı zamanda avukatlık hizmetlerini sunarken titizlikle uyguladığımız dürüstlük, güvenilirlik ve adalet gibi temel değerlerimizdir. <br> Müvekkillerimizin sorunlarını kendi sorunlarımız gibi benimseriz.  </p>
            </div>
        </div>

        <div class="row about_row ">
            <div class="divTable">
                <div class="divTableBody">
                    <div class="divTableRow">
                        <div class="divTableCell text-right">
                            <ul class="Attorneys">
                                <li>
                                    <h1> Great Discount </h1>
                                    <p>Lorem Ipsum is  dummy   typesetting industry.</p>
                                </li>

                            </ul>


                            <ul class="Attorney">
                                <li>   <img src="~/star-law-master/assets/images/icone_1.png">     </li>
                            </ul>


                            <ul class="Attorneys">
                                <li>
                                    <h1> Community Service </h1>
                                    <p>Lorem Ipsum is  dummy   typesetting industry.</p>
                                </li>

                            </ul>
                            <ul class="Attorney">
                                <li>   <img src="~/star-law-master/assets/images/icone_2.png">     </li>
                            </ul>


                            <ul class="Attorneys">
                                <li>
                                    <h1>PROFESSIONAL LIABILITY </h1>
                                    <p>Lorem Ipsum is  dummy   typesetting industry.</p>
                                </li>

                            </ul>
                            <ul class="Attorney">
                                <li>   <img src="~/star-law-master/assets/images/icone_5.png">     </li>
                            </ul>
                        </div>
                        <div class="divTableCell text-center"> <img src="~/star-law-master/assets/images/shap-center.png" align="middle"></div>
                        <div class="divTableCell ">
                            <ul class="Attorney">
                                <li>   <img src="~/star-law-master/assets/images/icone_3.png">     </li>
                            </ul>
                            <ul class="Attorneys">
                                <li>
                                    <h1>Get Legal Advice </h1>
                                    <p>Lorem Ipsum is  dummy   typesetting industry.</p>
                                </li>

                            </ul>


                            <ul class="Attorney">
                                <li>   <img src="~/star-law-master/assets/images/icone_4.png">     </li>
                            </ul>
                            <ul class="Attorneys">
                                <li>
                                    <h1>  Expert Lawyers</h1>
                                    <p>Lorem Ipsum is  dummy   typesetting industry.</p>
                                </li>

                            </ul>

                            <ul class="Attorney">
                                <li>   <img src="~/star-law-master/assets/images/icone_6.png">     </li>
                            </ul>
                            <ul class="Attorneys">
                                <li>
                                    <h1>DEDICATION TO OUR CLIENTS</h1>
                                    <p>Lorem Ipsum is  dummy   typesetting industry.</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        </div>
    </div>

</section>


<!-- DivTable.com -->
<!--End Why Choose Us Area -->

<!--#Our Partners Area -->
<div class="our_partners_area bg-parthners py-70 ">
    <div class="container">
        <!--#Our Partners assets/images start -->
        <div class="partners wow fadeInUp">
            <div class="item"><img src="~/star-law-master/assets/images/client_logo/client_logo-1.png" alt=""></div>
            <div class="item"><img src="~/star-law-master/assets/images/client_logo/client_logo-2.png" alt=""></div>
            <div class="item"><img src="~/star-law-master/assets/images/client_logo/client_logo-3.png" alt=""></div>
            <div class="item"><img src="~/star-law-master/assets/images/client_logo/client_logo-4.png" alt=""></div>
            <div class="item"><img src="~/star-law-master/assets/images/client_logo/client_logo-5.png" alt=""></div>
        </div>
        <!--#End Our Partners assets/images -->
    </div>
</div>
<!--#End Our Partners Area -->
<!--start Why Choose Us Area -->


@await Component.InvokeAsync(typeof(WEB.ViewComponents.FooterViewComponent))


