

<!--#start Our footer Area -->
<div class="our_footer_area">
    <div class="book_now_aera ">
        <div class="container wow fadeInUp">
            <div class="row book_now">
                <div class="col-md-4">
                    <div class="">
                        <a class=" logo-biss" asp-controller="Home" asp-action="Index"> Av. Melda Özkara</a>
                    </div>
                    <p class="footer-h">It is a long established fact that a <br>reader will be distracted by the <br> readable content.</p>
                    <div class="bigpixi-footer-social">
                        <a href="" target="_blank"><i id="social-fb" class="fa fa-facebook fa-2x social"></i></a>
                        <a href="" target="_blank"><i id="social-tw" class="fa fa-twitter fa-2x social"></i></a>
                        <a href="" target="_blank"><i id="social-em" class="fa fa-instagram fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-md-1 ">
                </div>
                <div class="col-md-3">
                    <h2 class="footer-top">HIZLI LİNKLER </h2>
                    <ul class="footer-menu">
                        <li><a href=""> ANASAYFA </a></li>
                        <li><a href=""> HAKKIMIZDA  </a> </li>
                        <li><a href="">ÇALIŞMA ALANLARIMIZ </a> </li>
                        <li><a href="">   BLOG   </a> </li>
                        <li><a href="">  İLETİŞİM  </a> </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="location">
                        <h2 class="footer-top">İletişim </h2>
                        <li class="footer-left-h">Fevzi Çakmak-2 Sokak No:28/4 <br>Kızılay, Çankaya, Ankara</li>
                        <li class="footer-left-h">
                            <span class="c_yellow">Email:</span>
                            <a href=""> info@meldaozkara.av.tr </a>
                        </li>
                        <li class="footer-left-h">
                            <span class="c_yellow">Telefon: </span>+90- 506 116 02 25
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <p class="color-gray">
                        Melda Özkara Hukuk & Danışmanlık <a href="https://www.navthemes.com">
                            © @DateTime.Now.Year 
                        </a> Tüm Hakları Saklıdır. <a asp-controller="Home" asp-action="Index"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#End Our footer Area -->