@{
    ViewData["IsHomePage"] = true;
}
@model WEB.Models.DashboardViewModel

<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper pb-0">
            <div class="page-header flex-wrap">
                <div class="header-left">
                    @* <button class="btn btn-primary mb-2 mb-md-0 mr-2"> Create new document </button>
                    <button class="btn btn-outline-primary mb-2 mb-md-0"> Import documents </button> *@
                </div>
                <div class="header-right d-flex flex-wrap mt-md-2 mt-lg-0">
                    <div class="d-flex align-items-center">
                        <a href="#">
                            <p class="m-0 pr-3">Dashboard</p>
                        </a>
                        <a class="pl-3 mr-4" href="#">
                            <p class="m-0">ADMİN</p>
                        </a>
                    </div>
                    <a asp-area="Admin" asp-controller="User" asp-action="Add">
                        <button type="button" class="btn btn-primary mt-2 mt-sm-0 btn-icon-text">
                            <i class="mdi mdi-plus-circle"></i> Kullanıcı Ekle
                        </button>
                    </a>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 stretch-card grid-margin">
                    <div class="card">
                         <div class="card-body">
                            <div class="d-flex justify-content-between flex-wrap">
                                <div>
                                    <div class="card-title mb-0">Raporlar</div>
                                    <h3 class="font-weight-bold mb-0">Toplam Blog Sayısı: @Model.TotalBlogCount</h3>
                                    <h3 class="font-weight-bold mb-0">Toplam Kategori Sayısı: @Model.TotalCategoryCount</h3>
                                    <h3 class="font-weight-bold mb-0">Toplam Gelen İletişim Mesajı Sayısı: @Model.TotalContactMessageCount</h3>
                                    <h3 class="font-weight-bold mb-0">Toplam Kullanıcı Sayısı: @Model.TotalUserCount</h3>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        @await Component.InvokeAsync("AdminFooter")
    </div>
</div>

