@model UserDto

<div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <img src="~/plus-admin/assets/images/logo.svg" alt="logo" />
                    <span class="font-12 d-block font-weight-light"></span>
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/plus-admin/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
               @*  <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="mdi mdi-magnify"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search" aria-label="search" aria-describedby="search" />
                        </div>
                    </li>
                </ul> *@
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img src="~/plus-admin/assets/images/faces/user.png" alt="image" />
                            </div>
                            <div class="nav-profile-text">
                                <p class="text-black font-weight-semibold m-0">@Model.FirstName</p>
                                <span class="font-13 online-color">@Model.Role <i class="mdi mdi-chevron-down"></i></span>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="Admin" asp-controller="Auth" asp-action="Logout">
                                <i class="mdi mdi-logout mr-2 text-primary"></i> Çıkış yap
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </div>
    </nav>
    <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
                <li class="nav-item">
                    <a class="nav-link"  asp-controller="Home" asp-action="Index">
                        <i class="mdi mdi-compass-outline menu-icon"></i>
                        <span class="menu-title">Anasayfa</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Bloglar</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Blog" asp-action="Add">Yeni Blog Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Blog" asp-action="Index">Bloglar</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="mdi mdi-monitor-dashboard menu-icon"></i>
                        <span class="menu-title">Kategoriler</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Add">Yeni Kategori Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Kategoriler</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="About" asp-action="Index">
                        <i class="mdi mdi-clipboard-text menu-icon"></i>
                        <span class="menu-title">Hakkımızda</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Banner" asp-action="Index">
                        <i class="mdi mdi-contacts menu-icon"></i>
                        <span class="menu-title">Banner</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="ContactMessage" asp-action="Index">
                        <i class="mdi mdi-chart-bar menu-icon"></i>
                        <span class="menu-title">Bize Ulaşın</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Kullanıcılar</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="submenu">
                        <ul class="submenu-item">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Add">Yeni Kullanıcı Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Kullanıcılar</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="nav-link d-flex">
                       
                        <div class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle text-white font-weight-semibold" id="notificationDropdown" asp-area="Admin" asp-controller="Home" asp-action="Index" data-toggle="dropdown"> Türkçe </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                    <i class="flag-icon flag-icon-tr mr-3"></i> Türkiye
                                </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>
                        <a class="text-white" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="mdi mdi-home-circle"></i></a>
                    </div>
                </li>
               
            </ul>
        </div>
    </nav>
</div>
